body {
  margin: 0;
  background-color: darkolivegreen;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loader {
  margin-top:1rem;
  border: 16px solid lightblue;/* Light grey */
  border-top: 16px solid orange; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.grid{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  padding:2rem;
}

@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}
.grid-item{
 background-color: lightblue;
 max-width:300px;
 padding:1rem;

 display:flex;
 flex-direction: column;
 align-items: center;
}

button {
  border:none;
  border-radius: 9px;
  padding:5px;
  background-color: yellow;
}

.restart{
  background-color: aliceblue;
  margin: 0 auto;
  margin-left:50%;
}

h1{
  padding-left:2rem;
  color:aliceblue;
}